In [122]:
import pandas as pd
import numpy as np
df = pd.read_csv('students_raw.csv') 
df

,student_id,name,email,major,gpa,test_score,city,enrollment_year,height_cm
0,1.0,alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165
1,2.0,BOB,bob@YAHOO.com,cs,3.5,85.0,seoul,2021.0,178
2,3.0,ChArLie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172
3,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158
5,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158
6,NaN,Frank,frank@gmail,Business,NaN,73.0,Busan,2021.0,181
7,7.0,Grace,grace@univ.edu,BUSINESS,9.1,999.0,SeJeong,2023.0,250
8,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,NaN,169
9,9.0,ivan,ivan@gmail.com,MATH,NaN,65.0,Busan,2018.0,175
10,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   student_id       10 non-null     float64
 1   name             11 non-null     object
 2   email            10 non-null     object
 3   major            11 non-null     object
 4   gpa              9 non-null      float64
 5   test_score       10 non-null     float64
 6   city             11 non-null     object
 7   enrollment_year  10 non-null     float64
 8   height_cm        11 non-null     int64
dtypes: float64(4), int64(1), object(4)
memory usage: 924.0+ bytes

In [124]:
#문제 1.
df_columns = len(df.columns) #df의 column의 수
df_rows = len(df) #df의 rows의 수
print(f"열: {df_columns}, 행: {df_rows}")

열: 9, 행: 11

In [125]:
#문제 2.
df = df.astype({'student_id': 'str', 
                'enrollment_year': 'str'})
#student_id와 enrollment_year열 str타입으로 변환
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   student_id       11 non-null     object
 1   name             11 non-null     object
 2   email            10 non-null     object
 3   major            11 non-null     object
 4   gpa              9 non-null      float64
 5   test_score       10 non-null     float64
 6   city             11 non-null     object
 7   enrollment_year  11 non-null     object
 8   height_cm        11 non-null     int64
dtypes: float64(2), int64(1), object(6)
memory usage: 924.0+ bytes

In [126]:
#.str.strip() 양쪽의 공백 제거 
#.str.capitalize() 첫글자 대문자
df['name'] = df['name'].str.strip().str.capitalize() 
df['city'] = df['city'].str.strip().str.capitalize()
df

,student_id,name,email,major,gpa,test_score,city,enrollment_year,height_cm
0,1.0,Alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165
1,2.0,Bob,bob@YAHOO.com,cs,3.5,85.0,Seoul,2021.0,178
2,3.0,Charlie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172
3,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158
5,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158
6,nan,Frank,frank@gmail,Business,NaN,73.0,Busan,2021.0,181
7,7.0,Grace,grace@univ.edu,BUSINESS,9.1,999.0,Sejeong,2023.0,250
8,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,nan,169
9,9.0,Ivan,ivan@gmail.com,MATH,NaN,65.0,Busan,2018.0,175
10,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162

In [127]:
#문제 3.
#.str.strip()앞, 뒤 모든 공백을 제거
#.str.lower() 문자열을 소문자로 변환
df['email'] = df['email'].str.strip().str.lower()
df['major'] = df['major'].str.strip() 
#.str.contains('값', na=False) 해당 값이 포함되어 있지 않다면 False
#r'\.com' .은 아무 글자 하나를 의미하기에 r''은 이 문자열을 정규표현식으로 사용한다는
#np.where(질문, yes! 할일, 아니오! 할일)구조이다.
df['invalid_email'] = np.where(
    (df['email'].isnull()) | 
    (~df['email'].str.contains('@', na=False)) |
    (~df['email'].str.contains(r'\.com', na=False)), 1, 0
)
df

,student_id,name,email,major,gpa,test_score,city,enrollment_year,height_cm,invalid_email
0,1.0,Alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165,0
1,2.0,Bob,bob@yahoo.com,cs,3.5,85.0,Seoul,2021.0,178,0
2,3.0,Charlie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172,0
3,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160,1
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0
5,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0
6,nan,Frank,frank@gmail,Business,NaN,73.0,Busan,2021.0,181,1
7,7.0,Grace,grace@univ.edu,BUSINESS,9.1,999.0,Sejeong,2023.0,250,1
8,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,nan,169,1
9,9.0,Ivan,ivan@gmail.com,MATH,NaN,65.0,Busan,2018.0,175,0
10,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162,0

In [128]:
#문제 4.
#rename(colmuns, rows={'원래이름': '바꿀이름'})
df = df.rename(columns={'height_cm': 'height', 'enrollment_year': 'enroll_year'})
df

,student_id,name,email,major,gpa,test_score,city,enroll_year,height,invalid_email
0,1.0,Alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165,0
1,2.0,Bob,bob@yahoo.com,cs,3.5,85.0,Seoul,2021.0,178,0
2,3.0,Charlie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172,0
3,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160,1
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0
5,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0
6,nan,Frank,frank@gmail,Business,NaN,73.0,Busan,2021.0,181,1
7,7.0,Grace,grace@univ.edu,BUSINESS,9.1,999.0,Sejeong,2023.0,250,1
8,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,nan,169,1
9,9.0,Ivan,ivan@gmail.com,MATH,NaN,65.0,Busan,2018.0,175,0
10,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162,0

In [129]:
#문제 5.
#dropna(subset=['기준열']) 기준열에 결측치가 존재하는 행 전체를 제거
#drop_duplicates(['기준열']) 기준열에 존재하는 중복된 값을 해당 행을 제거
df['student_id'] = df['student_id'].replace('nan', np.nan) #dropna함수는 np.nan만 찾도록 되어있어
df = df.dropna(subset=['student_id'])
df = df.drop_duplicates(subset=['student_id'])
df = df.sort_values(by='gpa', ascending=False)
df

,student_id,name,email,major,gpa,test_score,city,enroll_year,height,invalid_email
7,7.0,Grace,grace@univ.edu,BUSINESS,9.1,999.0,Sejeong,2023.0,250,1
3,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160,1
0,1.0,Alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165,0
8,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,nan,169,1
1,2.0,Bob,bob@yahoo.com,cs,3.5,85.0,Seoul,2021.0,178,0
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0
2,3.0,Charlie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172,0
10,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162,0
9,9.0,Ivan,ivan@gmail.com,MATH,NaN,65.0,Busan,2018.0,175,0

In [130]:
#문제 6.
df = df[df['gpa'].between(0, 4.5)] #gpa의 값 0~4.5사이의 값들만 남기기
df = df.dropna(subset=['gpa']) #gpa열에 결측치가 있는 행을 제거
df

,student_id,name,email,major,gpa,test_score,city,enroll_year,height,invalid_email
3,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160,1
0,1.0,Alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165,0
8,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,nan,169,1
1,2.0,Bob,bob@yahoo.com,cs,3.5,85.0,Seoul,2021.0,178,0
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0
2,3.0,Charlie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172,0
10,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162,0

In [133]:
#문제 7.
#pd.merge(데이터프레임1, 데이터프레임2, on='공통되는 열의 이름', how='left', 'right'방식 선택)
major_df = pd.read_csv('major_lookup.csv')
major_df
df_merged = pd.merge(df, major_df, left_on='major', right_on='raw_major', how='left')
df = df_merged.rename(columns={'normalized_major': 'new_major'})
df

,student_id,name,email,major,gpa,test_score,city,enroll_year,height,invalid_email,raw_major_x,normalized_major_x,raw_major_y,normalized_major_y,raw_major,new_major
0,4.0,Diana,diana at mail.com,EE,4.1,88.0,Daegu,2022.0,160,1,EE,Electrical Engineering,EE,Electrical Engineering,EE,Electrical Engineering
1,1.0,Alice,alice@gmail.com,CS,3.8,92.0,Seoul,2022.0,165,0,CS,Computer Science,CS,Computer Science,CS,Computer Science
2,8.0,Heidi,NaN,Math,3.7,91.0,Daejeon,nan,169,1,Math,Mathematics,Math,Mathematics,Math,Mathematics
3,2.0,Bob,bob@yahoo.com,cs,3.5,85.0,Seoul,2021.0,178,0,cs,Computer Science,cs,Computer Science,cs,Computer Science
4,5.0,Eve,eve@gmail.com,Electrical Eng,3.2,110.0,Incheon,2019.0,158,0,Electrical Eng,Electrical Engineering,Electrical Eng,Electrical Engineering,Electrical Eng,Electrical Engineering
5,3.0,Charlie,charlie@gmail.com,Computer Science,2.9,NaN,Busan,2020.0,172,0,Computer Science,Computer Science,Computer Science,Computer Science,Computer Science,Computer Science
6,10.0,Judy,judy@gmail.com,CompSci,2.1,84.0,Jeju,2018.0,162,0,CompSci,Computer Science,CompSci,Computer Science,CompSci,Computer Science