In [3]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Beijing"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

weather_df

               Tokyo   Beijing
2021-01-01  3.289861  1.453489
2021-01-02  4.193966  0.304297
2021-01-03  2.729329  4.379124
2021-01-04  4.262730  4.247869
2021-01-05  0.545752  0.160611
2021-01-06  4.377111  0.904182
2021-01-07  0.860149  1.086334
2021-01-08  0.949584  2.613505
2021-01-09  2.095679  2.895462
2021-01-10  1.858634  0.964782

In [4]:
print("Hello World!")

Hello World!

In [7]:
a = 'hello'
print(a)

hello

In [10]:
num1 = 10
num1
str1 = "Computer"
str1

'Computer'

In [13]:
print(4+5)
print("Hello" + "World")

9
HelloWorld

In [15]:
print(str(4) + '5')

45

In [24]:
menu = ['아아', '아바라', '아샷추']
menu[0:3]

['아아', '아바라', '아샷추']

In [32]:
list = [50, 45, 33, 39, 29, 39]
avg = list[0] + list[1] + list[2] + list[3] + list[4] + list[5] / len(list)
avg

202.5